body {
  display: flex;
  margin: 0;
  flex-direction: column;
}
nav {
  width: 100%;
  font-size: 0.7rem;
  font-weight: 900;
}
.dashboard {
  padding: 0.6rem;
  margin: 1rem auto;
  width: 70vw;
}
.details h1 {
  font-size: 1.2rem;
}
.fun {
  width: 80vw;
}
.slider img {
  display: block;
  height: 35vh;
  width: 70%;
  position: relative;
}
.slide-left {
  display: inline-block;
  position: absolute;
  top: 50%;
}
.input {
  padding: 1.2em;
  height: 5vh;
}
.input i {
  font-size: 1.4rem;
  margin-left: 0.5rem;
}
.input p {
  font-size: 0.8rem;
}
#qty {
  padding: 1.2em;
  height: 5vh;
  width: 100%;
}
